
  <h2>Movie Details</h2>
  
    {{#with movieDetails}}
    <h3>{{title}}</h3>
   <ul>
     <li><p>Genre: {{genre}}</p></li>
     <li><p>Plot: {{plot}}</p></li>
   </ul>

<hr>
<br>

    {{#each cast}}  
    <h3>Movie Cast</h3>
    <ul>
      <li>
      <p>Name: {{name}}</p>
      </li>
      <li>
      <p>Occupation: {{occupation}}</p>
      </li>
      <li>
      <p> CatchPhrase: {{catchPhrase}}</p>
      </li>
    </ul>
    {{/each}}

<hr>
<br>

<a href="/movies/{{id}}/edit">Edit</a>
  
<form action="/movies/{{id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>

<a href="/movies">Go back</a>

    {{/with}}

